body{padding: 15%;
    margin: 10%;
    text-align: center;
    background: hsl(212, 45%, 89%);
}
div{
    
    border-radius: 5%;
    padding: 90px;
    background:  hsl(0, 0%, 100%);
    
}
.imagem{

    width: 40%;
}
.seta{
    margin: 0;
    font-size: 50px;
    display: block;
}
p{
    font-size: 15px;
    text-transform: uppercase;
    color:  hsl(220, 15%, 55%);
}
h1{
    text-transform: uppercase;
    color: hsl(218, 44%, 22%);
}
.jobs{
    display: inline;
    padding-left: 200px;    
}